.navbar {
    margin-bottom: 50px;
}
.navbar-brand a, a {
    transition: color 0.15s ease-in-out;
}
.navbar-brand img {
	width: 200px;
}
.navbar .nav-link {
	text-transform: uppercase;
	padding: 10px;
	color: #393E46;
	font-weight: bold;
}
.navbar .nav-link:hover {
	background-color: #393E46;
	color: #ffffff;
	border-radius: 5px;
}
